.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.spending-form {
    min-width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5B84B1FF;
    border-radius: 5px;
}

.spending-form h1 {
    text-align: center;
    color: white;
    padding: 0px 15px;
}

.spending-form-button {
    min-width: 15vw;
    border-radius: 5px;
    margin: 30px auto;
    background-color: #FC766AFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    height: 60px;
    cursor: pointer;
    border: 2px solid #FC766AFF;
}

.spending-form-button:hover {
    background-color: #5B84B1FF;
    color: #FC766AFF;
}

.spending-form-button-add {
    width: 10em;
    border-radius: 5px;
    background-color: #FC766AFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #FC766AFF;
    margin-right: 15px;
}

.spending-form-button-cancel {
    width: 10em;
    border-radius: 5px;
    background-color: #FC766AFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #FC766AFF;
}

.spending-form-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.spending-form-block-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.spending-form-block label {
    color: white;
    font-size: 17px;
}

.new-spending__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding: 30px;
    justify-content: center;
}

.new-spending__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: white;
}

.new-spending__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-spending__actions {
    text-align: center;
    margin-bottom: 40px;
}

.spending-form-button-add:hover {
    background-color: #5B84B1FF;
    color: #FC766AFF;
}

.spending-form-button-cancel:hover {
    background-color: #5B84B1FF;
    color: #FC766AFF;
}

.spending-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #5B84B1FF;
}

.spending-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.spending-item h2 {
    color: #3a3a3a;
    font-size: 2rem;
    text-align: start;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.spending-item__price {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #FC766AFF;
    border: 1px solid #FC766AFF;
    padding: 0.5rem;
    border-radius: 12px;
}

.spending-date {
    text-align: center;
    color: white;
    border: 2px solid #FC766AFF;
    border-radius: 10px;
    padding: 10px;
}

.chart {
    min-width: 55vw;
}

.spendings-filter {
    color: black;
}

.spendings-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.spendings-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.spendings-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .chart {
        min-width: 85vw;
    }
    .spending-item h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 350px) {
    body {
        width: 350px;
        margin: 0 auto;
    }
}